/*** CSS Styling for Heading Component ***/
.header-container {
    width: 80%;
    margin: auto;
}

.logo {
    height: 30px;
    width: 128px;
    margin-top: 10px;
}

.navbar button {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 1.5rem;
    padding: 10px;
    float: right;
    border-radius: 20px;
    cursor: pointer;
}

.profile {
    position: relative;
    margin-bottom: 150px;
}

.profile img {
    z-index: 9999;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    height: 9rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.ruler-left{
    position: absolute;
    width: 29%;
    color: var(--secondary-color);
    top: 60px;
    left: 13%;
}

.ruler-right{
    position: absolute;
    width: 29%;
    color: var(--secondary-color);
    top: 60px;
    right: 13%;
}


/*** Media Queries for Mobile ***/
@media only screen and (max-width: 600px) {
    .header-container {
        width: 90%;
        margin: auto;
    }

    .logo {
        height: 25px;
        width: 100px;
    }

    .navbar button {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        margin-top: 10px;
        font-size: 0.5rem;
        padding: 10px;
        float: right;
        border-radius: 20px;
        cursor: pointer;
    }
    .profile img {
        z-index: 9999;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        height: 6rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 18px auto;
    }

    .profile {
       margin-top: 30px;
    }

    .ruler-left {
        left: 0;
    } 
    
    .ruler-right {
       right: 0;
    }
    
}

/*** Media Queries for Tablet and Ipad ***/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    
    .navbar button {
        border: 1px solid var(--primary-color);
        margin-top: 10px;
        font-size: 1rem;
    }
    
    .profile img {
        z-index: 9999;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        height: 7rem;
    }

    .profile {
       margin-top: 30px;
    }

    .ruler-left {
        left: 8%;
    } 
    
    .ruler-right {
       right: 8%;
    }
    
}